/*  GENERAL  */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f9fafb;
  color: #333;
}

header {
  background: linear-gradient(90deg, #78d8b8, #78d8b8); /*este es de parte de arriba*/
  color: #ffffff; /*cursos*/
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav a, .logout-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

nav a:hover, .logout-btn:hover {
  color: #ffe082; /*arriba de cerrar*/
}

/* CARRUSEL*/
.carousel {
  max-width: 950px;
  margin: 80px auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.slides {
  position: relative;
  width: 100%;
  height: 520px;
}

.slide {
  display: none;
  text-align: center;
}

.slide.active {
  display: block;
  animation: fadeIn 1s ease;
}

.slide img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.info {
  padding: 25px;
}

.info h2 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #40c9d3; /*futb.ba,vol*/
}

.info p {
  color: #042838; /*abajo de bol....*/
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.info-btn, .register-btn {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease;
}

.info-btn {
  background: #3da3b1; /*boton inf*/
}

.register-btn {
  background: #6ca3d6;
}

.info-btn:hover {
  background: #61dfbf; /*toca boton*/
}

.register-btn:hover {
  background: #70c4c7;
}

/* FLECHAS */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 14px;
  color: rgb(235, 228, 228); /*mayor que*/
  font-size: 30px;
  background: rgba(88, 228, 181, 0.4); /*botito*/
  border-radius: 50%;
  user-select: none;
  transition: background 0.3s;
}

.prev:hover, .next:hover {
  background: rgba(81, 207, 159, 0.7); /*aplastar boton*/
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

/* MODAL*/
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(178, 241, 228, 0.7); /*fondo que se abre de verde*/
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #faf7f7; /*cuadro que se abre de info*/
  border-radius: 10px;
  padding: 25px;
  width: 400px;
  text-align: center;
  animation: fadeIn 0.4s ease;
}

.close {
  float: right;
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

.close:hover {
  color: red;
}

/* ======== FOOTER ======== */
footer {
  text-align: center;
  padding: 20px;
  background: #9fdce7; /*abajo*/
  color: rgb(5, 2, 2); /*letra abajo*/
}

/*ANIMACIONES*/
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}
